DATABASE__USER=postgres
DATABASE__PASSWORD=password
DATABASE__NAME=postgres
DATABASE__PORT=5432

ALEMBIC__DATABASE_URL="postgresql+asyncpg://postgres:password@localhost:5432/postgres"

JWT__SECRET_KEY=secret_key
JWT__ALGORITHM=HS256

EMAIL__USERNAME=username
EMAIL__PASSWORD=password

HMAC__SECRET_KEY=secret_key

REDIS__PORT=6379
REDIS__PASSWORD=password

RUN__HOST=0.0.0.0
RUN__PORT=8000
