DATABASE__USER=postgres
DATABASE__PASSWORD=password
DATABASE__NAME=postgres
DATABASE__PORT=5432

ALEMBIC__DATABASE_URL="postgresql+asyncpg://postgres:password@postgres:5432/postgres"

AUTH__EMAIL__SMTP__HOST=smtp.example.com
AUTH__EMAIL__SMTP__PORT=1127
AUTH__EMAIL__SMTP__USERNAME=username
AUTH__EMAIL__SMTP__PASSWORD=password

AUTH__SESSION__TOKENS__ACCESS__SECRET_KEY=secret_key
AUTH__SESSION__TOKENS__ACCESS__ALGORITHM=HS256
AUTH__SESSION__TOKENS__REFRESH__HASH_SECRET_KEY=secret_key

AUTH__OTP__HASH_SECRET_KEY=secret_key

REDIS__HOST=redis
REDIS__PORT=6379
REDIS__PASSWORD=password
REDIS__DB=0
REDIS_URL=redis://:password@redis:6379/0

CHAT__AI_ASSISTANT__OPENAI__API_KEY=your_openai_key

TASKIQ__SCHEDULER__POLLING_INTERVAL=1
TASKIQ__WORKERS_COUNT=8

SERVER__HOST=0.0.0.0
SERVER__PORT=8000
